body{
    background-color: white;
}

.active{
    background-color: black;
    color: white;
}

.odd{
    background-color: red;
    color: white;
}

.even{
    background-color: green;
    color: white;
}